<h2>topページ</h2>
<p>ようこそ、ながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>
<h3>新着商品</h3>
<% @items.each do |item| %>
<tr>
    <p>画像</p>
    <% if item.image.attached? %>
     <%= image_tag item.image, size: "150x100" %>
     <% else %>
     <%= image_tag 'no_image', size: "150x100" %>
    <% end %><br>
    <td>
      <span><%= link_to item.name, public_items_show_path(item.id) %></span>
    </td>
    <td>
      <span><%= item.price %></span>
    </td>
    <td></td>
</tr>
<% end %>